numpy
scipy
matplotlib
types-dataclasses
opencv-python
opencv-contrib-python
PyOpenGL-accelerate
flake8
pylint
pytest
pytest-cov
mypy
isort
natsort
black
gymnasium
imageio
moviepy
mujoco
open3d
jaxlib==0.4.6
jax[cuda11_pip]
